<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <APForm.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="WebApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultFullPath" serializeAs="String">
                <value>C:\Result.csv</value>
            </setting>
            <setting name="SearchFullPath" serializeAs="String">
                <value>C:\Search.csv</value>
            </setting>
            <setting name="RadioButtonDaily" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadioButtonWeekly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButtonMonthly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButtonAsThe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComboBoxCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxHourDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>test@gmail.com</value>
            </setting>
        </APForm.Properties.Settings>
    </userSettings>
</configuration>